// body {
//     width: 100%;
// }

.container {
    width: 1440px;
    height: 1440px;
    border-radius: 8px;
    border: 2px solid #CED4DA;
    background-color: #FFFFFF;
    
}

.inner-container {
    width: 448px;
    height: 414px;
    position: relative;
    top: 513px;
    left: 496px;
    background-color: aquamarine;
}

#inne1 {
    height: 60px;
    
}