@use './mixins/mixins.scss';

body {
    width: 100%;
    font-family: 'Inter', 'Verdana';
}

.container {
    width: 100%;
    height: 1440px;
    // position: relative;
    border-radius: 8px;
    border: 2px solid #CED4DA;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    
}

.inner-container {
    width: 448px;
    height: 414px;
    position: relative;
    top: 513px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // left: 496px;
    background-color: aquamarine;
}

#inner1 {
    height: 60px;
    // background-color: blue;
    
}

.inner1-div1 {
    @include mixins.font-todo();
    text-align: center;
}

.inner1-div2 {
        @include mixins.font-task();
        text-align: center;
        margin-top: 8px;
}

#inner2 {
    height: 100px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    @include mixins.shadow();
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-inner2 {
    width: 398px;
    height: 50px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

#inner3 {
    height: 198px;
    background-color: brown;
}